
body {
  background-color: gray;
  font-weight:400px;
}

h1 {
  text-align: center;
}

h1.name {
  color: grey;
  background-color: goldenrod;
  border: solid gold 3px;
  max-width: 100%;
  font-size: 200%;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  margin-top: 1%;
  border-radius: 75%;
}

.grid-body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.ul1 {
  background-color: white;
  margin: 5%;
  border: ridge black 5px;
}

.item1 {
  grid-area: 1/4/4/13;
  background: linear-gradient(black, grey, lightgrey, white);
  text-align: center;
  border: solid black 3px;
}

.item2 {
  grid-area: 1/1/13/4;
  background-color: lightgray;
  border: solid black 3px;
}

.user {
  width: 35%;
  height: 75%;
  border: ridge gray 10px;
}

.n1 {
  background-color: darkgrey;
  margin-bottom: 10%;
}

.personal {
  font-size: 125%;
  flex-flow: row wrap;
  margin: 10% 10%;
  background-color: white;
  border: ridge grey 5px;
}

.bio {
  margin: 2% 2%;
  font-size: 80%;
  text-align: center;
}

.abouth1 {
  font-family: monospace;
  font-weight:900;
}

.aboutul {
  text-align: left;
}

.box1 {
  color: white;
  border: solid black 5px;
  background-color: white;
  color: black;
  text-align: center;
  font-family: fantasy;
}
